Written Docs
Species Lists
*.dotx
Data Management/Downloads*
Data Management/*.json
*.DS_Store
Downloads*
Datasets*
trainval*
Detection Results/*.json
Detection Results/with
Detection Results/location_counts*
Detection Results/*.csv
CameraTraps
Crops
Training/__pycache__
*.json
!Testing/Results/*.json
